.jumbotron
{
    background-size:cover;
    min-height: 614px;
    position: relative;
    
}
.jumbotron2
{
  background-size:cover;
  min-height: 614px;
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  background: 
  radial-gradient(ellipse at center, rgba(0,0,255,0.3) 0%, rgba(0,0,0,0) 70%), /* niebieski */
  radial-gradient(ellipse at center, rgba(255,0,0,0.3) 0%, rgba(0,0,0,0) 70%), /*czerwony */
  radial-gradient(ellipse at center, rgba(0,255,0,0.3) 0%, rgba(0,0,0,0) 70%) /*zielony */
  #c3d7db;
background-repeat: 
  no-repeat, 
  no-repeat, 
  no-repeat;
background-size: 
  900px 900px,
  900px 900px,
  900px 900px;
background-attachment: fixed;

animation:bganimation 30s infinite;
}
.biaoyu
{
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-top: 10%;
}

.licences
{
    display: flex;
    justify-content:center ;
    color: #848484;
}

.aboutus
{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    color: #32a2b9;
}

.aboutus-button
{
    margin: 3%;
}

.contactlogo
{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.contactlogo-button
{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    width: 40px;
    height: 40px;
}

.footer
{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 12px;
    color: #848484;
}


@media(max-width: 1366px)
{
    .jumbotron
    {
        background-size: 100% 100%;
        min-height: 500;
    }
    .jumbotron2
    {
      background-size:cover;
      min-height: 590px;
      position: relative;
    }
    .biaoyu
    {
        font-weight: bold;
        font-size: 35px;
        color: white;
        margin-top: 10%;
    }
    .contactlogo
    {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    }
    .contactlogo-button
{
    margin-top: 4%;
    width: 30px;
    height: 30px;
}

}
@media(max-width: 700px)
{
    .jumbotron
    {
        background-size: 100% 100%;
        min-height: 100%;
    }
    .jumbotron2
    {
      background-size:cover;
      min-height: 490px;
      position: relative;
    }
    .biaoyu
    {
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin-top: 10%;
    }
    .contactlogo-button
    {
    margin-top: 4%;
    width: 30px;
    height: 30px;
    }

    .footer
    {
    margin-top: 10%;
    text-align: center;
    font-size: 12px;
    color: #848484;
    }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff7a;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2%;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #3688b4;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #3688b4;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.gender{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;

  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
  color: #7b7b7b;
}
.interest
{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;

  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
  color: #7b7b7b;
}

.profile{
  font-weight: bold;
  font-size: large;
  margin: 0 0 15px;
}

.alert{
  width: 100%;
  background: rgb(0, 255, 106);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: none;
}
@keyframes bganimation
{
0%   {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
      50% {
           background-position: 
               150% 100%,
               -200% 100%,
               100% 0%,
               0% 100%;
      }
      100% {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
}
